<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="UtilsLayer.ListenerClass"></listener>
</listeners>

  <test thread-count="5" name="BDDBankTest">

 

  <classes>
  <class name="StepDefination.HomePageTest"></class>
  <class name="StepDefination.BankManagerPageTest"></class>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
